---
layout: default
title: News
permalink: /news/
tags: news
---

{% for post in site.posts %}

<article class="news" style="margin: 48px 0 62px;">

<div class="post-date">{{ post.date | date_to_string }}</div>
<div class="row">
<div class="col-sm-6 news_list_content">

    <h2 class="news_list_title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="news_list_excerpt">{{ post.excerpt }}</div>
    	<span style="color: #888">{{ post.author }}</span> &bull; <a href="{{ post.url }}">Read more</a>
    </div>

    {% if post.cover_image %}
    <div class="col-sm-6 news_list_image_box">
        <a href="{{ post.url }}"><img src="{{ post.cover_image }}" class="news_list_image img-fluid"></a>
    {% else %}
    <div class="col-sm-6 hidden-xs news_list_image_box">
        <a href="{{ post.url }}"><img src="/assets/img/news_placeholder.jpg" class="news_list_image img-fluid"></a>
    {% endif %}
    </div>

</article>

{% endfor %}
