{% if page.layout != 'home' %}
<div class="tinted">
{% endif %}

<div class="container-fluid py-5">
  <div class="row callout" data-aos="fade-up">
    <div class="col text-center text-lg-left mb-4">
	    <h2>Want to give <strong>Opentrack</strong> a go?</h2>
	    <h3>Get in touch, or register for public access <small>(coming soon)</small></h3>
    </div>
    <div class="col-lg-auto text-center text-lg-right">
	    <div class="row justify-content-center justify-content-lg-end">
		    <div class="col-auto">
      <a href="#" class="btn btn-secondary" role="button">Contact us</a>
		    </div>
		    <div class="col-auto">
      <a href="#" class="btn btn-primary" role="button">Register your interest</a>
		    </div>
	    </div>
    </div>
  </div>
</div>
{% if page.layout != 'home' %}
</div>
{% endif %}

<div class="ot-footer">
  <div class="container-fluid">
    <footer class="site-footer text-muted">
        <div class="row">
          <div class="col-lg pr-lg-5">
            <div class="row align-items-start">
              <div class="col-auto col-md-3 col-lg-4 mb-3">
                <a href="{{ "/" | relative_url }}" aria-label="OpenTrack">
                    {%- include icons/opentrack-logo.svg width="138" height="46" class="d-block" -%}
                </a>
              </div>
              <div class="col col-md-5 mb-3 pr-md-5 pr-lg-0">
                <h6>The complete competition management suite for athletics organisers</h6>
              </div>
              <!-- div class="col-12 col-md-4 col-lg-3 text-center text-md-left mb-5 mb-md-3">
                <a href="#" class="btn btn-primary" role="button">Register your interest</a>
              </div -->
            </div>
            <h4>Supported by</h4>
            <div class="row align-items-center opentrack-backers">
              <div class="col-6 col-sm-3 backer">
                   <a target="_blank" href="http://www.european-athletics.org/"><img src="{{ site.baseurl }}/assets/img/EU-logo-white.svg" alt="European Union" width="90" height="61" class="img-fluid"></a>
                  </div>
                  <div class="col-6 col-sm-3 backer">
                   <a target="_blank" href="http://www.finodex-project.eu/"><img src="{{ site.baseurl }}/assets/img/Finodex-logo-white.svg" alt="Finodex" width="100" height="73" class="img-fluid"></a>
                  </div>
                  <div class="col-6 col-sm-3 backer">
                   <a target="_blank" href="http://www.european-athletics.org/"><img src="{{ site.baseurl }}/assets/img/Euro-Ath-Logo-white.svg" alt="European Athletics" width="124" height="50" class="img-fluid"></a>
                  </div>
                  <div class="col-6 col-sm-3 backer">
                   <a target="_blank" href="http://www.reportlab.com"><img src="{{ site.baseurl }}/assets/img/ReportLab-logo-white.svg" alt="ReportLab" width="107" height="67" class="img-fluid"></a>
                  </div>
            </div>

          </div>
          <div class="col-lg">
            <div class="row align-items-start">

              {% for item in site.menus.footer %}
              <div class="col-sm">
                  <h4>{{ item.title }}</h4>
                    <ul class="footer-navigation" role="navigation">
                      {% for entry in item.pages %}
                        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                      {% endfor %}
                    </ul>
              </div>
              {% endfor %}


            </div>
          </div>
        	</div>
        <p class="housekeeping">© OpenTrack 2018</p>
    </footer>
  </div>
</div>
