<div class="container">

	<main class="row align-items-center" id="content" role="main">
      <div class="col-9 mx-auto col-md-6 order-md-2 ot-demo">
        {%- include icons/white-iphone-device.svg width="273" height="506" class="d-block" -%}
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">The complete competition management suite for athletics organisers</h1>
        <p class="lead mb-4">
          Our open cloud platform saves time for organisers and volunteers and makes it more fun for participants, helping the sport to grow.
        </p>
        <p><img src="{{ site.baseurl }}/assets/img/European-Athletics.svg" width="182" height="72"></p>
      </div>
    </main>

</div>

