<div class="ot-navbar">
  <header class="container-fluid navbar navbar-toggleable-md navbar-expand-md justify-content-between site-nav">
    <a class="navbar-brand" href="{{ "/" | relative_url }}" aria-label="OpenTrack">

      {% if page.layout == "home" %}
        {%- include icons/opentrack-logo-white.svg width="138" height="46" class="d-block" -%}
      {% else %}
        {%- include icons/opentrack-logo.svg width="138" height="46" class="d-block" -%}
      {% endif %}
    </a>

      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      {%- if page_paths -%}


      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#OpentrackNavbar" aria-controls="OpentrackNavbar" aria-expanded="false" aria-label="Toggle navigation">

        <span class="burger-icon">
        	<span class="burger-bar"></span>
        	<span class="burger-bar"></span>
        	<span class="burger-bar"></span>
        </span>
      </button>
<nav class="ml-auto d-none d-md-block">
      <ul class="navbar-nav">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item{% if page.title == my_page.title %} active{% endif %}">
          	<a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}{% if page.title == my_page.title %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
</nav>
      {%- endif -%}
  </header>
  {%- if page_paths -%}
   <nav class="collapse navbar-collapse navbar-dark" id="OpentrackNavbar">
         <ul class="navbar-nav container-fluid">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item{% if page.title == my_page.title %} active{% endif %}">
          	<a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}{% if page.title == my_page.title %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {%- endif -%}
        {%- endfor -%}
         </ul>

      </nav>
      {%- endif -%}
</div>
