---
layout: fullbleed
title: Competition Management
permalink: /product/competition-management.html
---

<div class="container-fluid pb-4">
	<section id="competition-management-introduction" data-aos="fade-up">
	  {% capture my_include %}{% include_relative competition-management/1.introduction.md %}{% endcapture %}
	  {{ my_include | markdownify }}
	</section>
</div>

<div class="py-4 tinted">
	<div class="container-fluid">
		<section id="competition-management-main" data-aos="fade-up">
			{% capture my_include %}{% include_relative competition-management/2.comp-management.md %}{% endcapture %}
			{{ my_include | markdownify }}
		</section>
	</div>
</div>

<div class="container-fluid py-4">
	<section id="competition-management-input" data-aos="fade-up">
		{% capture my_include %}{% include_relative competition-management/3.input.md %}{% endcapture %}
		{{ my_include | markdownify }}
	</section>
	<section id="competition-management-results" data-aos="fade-up">
		{% capture my_include %}{% include_relative competition-management/4.results.md %}{% endcapture %}
		{{ my_include | markdownify }}
	</section>
</div>

