---
layout: fullbleed
title: Federation Management
permalink: /product/federation-admin.html
---

<div class="container-fluid pb-4">
  <section id="federation-admin-introduction">
    {% capture my_include %}{% include_relative federation-admin/1.introduction.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="federation-admin-main">
      {% capture my_include %}{% include_relative federation-admin/2.federation-management.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>
<div class="py-4 container-fluid">
  <section id="federation-admin-main">
    {% capture my_include %}{% include_relative federation-admin/3.managing-comps.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>
<div class="py-4 tinted">
  <section id="federation-admin-main">
    {% capture my_include %}{% include_relative federation-admin/4.open-data.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>
<div class="py-4 container-fluid">
  <div class="container-fluid">
  <section id="federation-admin-feedback">
    {% capture my_include %}{% include_relative federation-admin/5.testimonials-and-feedback.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
  </div>
</div>
<div class="py-4 tinted">
  <section id="federation-admin-next-steps">
    {% capture my_include %}{% include_relative federation-admin/6.next-steps.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="bg-blue py-4">
  <div class="container-fluid">
    <div class="siblings">
      	<div class="row align-items-center justify-content-center" data-aos="fade-up">

          <div class="col-sm">
            <a href="/product/entries-system.html" class="sibling-link sibling-left">
              Read about our
              	<h3>Entries System</h3>
              	{% octicon chevron-left %}
              </a>
          </div>
          <div class="col-sm">
            <a href="/product/competition-management.html" class="sibling-link sibling-right">
              Read about our
              	<h3>Competition Management</h3>
              	{% octicon chevron-right %}
              </a>
          </div>
        </div>
      </div>
  </div>
</div>
