---
layout: fullbleed
title: Open Reference Database
permalink: /product/open-reference-data.html
---

<div class="container-fluid pb-4">
	<section id="open-ref-db-introduction">
	  {% capture my_include %}{% include_relative open-ref-db/1.introduction.md %}{% endcapture %}
	  {{ my_include | markdownify }}
	</section>
</div>

<div class="py-4 tinted">
	<div class="container-fluid">
		<section id="open-ref-db-common">
			{% capture my_include %}{% include_relative open-ref-db/2.common-data.md %}{% endcapture %}
			{{ my_include | markdownify }}
		</section>
	</div>
</div>

<div class="container-fluid py-4">
	<section id="open-ref-db-next">
		{% capture my_include %}{% include_relative open-ref-db/3.what-next.md %}{% endcapture %}
		{{ my_include | markdownify }}
	</section>
</div>

