---
layout: fullbleed
title: Open Reference Database
permalink: /product/open-reference-data.html
---

<div class="container-fluid pb-4">
  <section id="open-ref-db-introduction">
    {% capture my_include %}{% include_relative open-ref-db/1.introduction.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="open-ref-db-common">
      {% capture my_include %}{% include_relative open-ref-db/2.common-data.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid py-4">
  <section id="open-ref-db-next">
    {% capture my_include %}{% include_relative open-ref-db/3.what-next.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="bg-blue py-4">
  <div class="container-fluid">
    <div class="siblings">
      	<div class="row align-items-center justify-content-center" data-aos="fade-up">

          <div class="col-sm">
            <a href="/product/competition-management.html" class="sibling-link sibling-left">
              Read about our
              	<h3>Competition Management</h3>
              	{% octicon chevron-left %}
              </a>
          </div>
          <div class="col-sm">
            <a href="/product/featurematrix.html" class="sibling-link sibling-right">
              View our
              	<h3>Feature Matrix</h3>
              	{% octicon chevron-right %}
              </a>
          </div>
        </div>
      </div>
  </div>
</div>
