---
layout: fullbleed
title: 2022 Release Notes
permalink: /product/releasenotes2022.html
---

<div class="container-fluid pb-4">
  <section id="feb2023">
    {% capture my_include %}{% include_relative releasenotes/2212-december2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2211-november2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid py-4">
  <section id="dec2022">
    {% capture my_include %}{% include_relative releasenotes/2210-october2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2209-september2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid pb-4">
  <section id="feb2023">
    {% capture my_include %}{% include_relative releasenotes/2208-august2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2207-july2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid py-4">
  <section id="dec2022">
    {% capture my_include %}{% include_relative releasenotes/2206-june2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2205-may2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid pb-4">
  <section id="feb2023">
    {% capture my_include %}{% include_relative releasenotes/2204-april2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2203-march2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid py-4">
  <section id="dec2022">
    {% capture my_include %}{% include_relative releasenotes/2202-february2022.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="jan2023">
      {% capture my_include %}{% include_relative releasenotes/2201-january2022.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="bg-blue py-4">
  <div class="container-fluid">
    <div class="siblings">
      	<div class="row align-items-center justify-content-center" data-aos="fade-up">

          <div class="col-sm">
            <a href="/product/releasenotes.html" class="sibling-link sibling-left">
              Check out our
              	<h3>2023 Release Notes</h3>
              	{% octicon chevron-left %}
              </a>
          </div>
          <!--<div class="col-sm">
            <a href="/product/releasenotes2021.html" class="sibling-link sibling-right">
              Check out our
              	<h3>2021 Release Notes</h3>
              	{% octicon chevron-right %}
              </a>
          </div> -->
        </div>
      </div>
  </div>
</div>
