---
layout: fullbleed
title: Release Notes
permalink: /product/releasenotes.html
---

<div class="container-fluid pb-4">
  <section id="mar2023">
    {% capture my_include %}{% include_relative releasenotes/2303-march2023.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="py-4 tinted">
  <div class="container-fluid">
    <section id="feb2023">
      {% capture my_include %}{% include_relative releasenotes/2302-february2023.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </section>
  </div>
</div>

<div class="container-fluid pb-4">
  <section id="jan2023">
    {% capture my_include %}{% include_relative releasenotes/2301-january2023.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </section>
</div>

<div class="bg-blue py-4">
  <div class="container-fluid">
    <div class="siblings">
      	<div class="row align-items-center justify-content-center" data-aos="fade-up">
          <div class="col-sm">
            <a href="/product/releasenotes2022.html" class="sibling-link sibling-right">
              Check out our
              	<h3>2022 Release Notes</h3>
              	{% octicon chevron-right %}
              </a>
          </div>
        </div>
      </div>
  </div>
</div>
