---
permalink: /partial/menu
---

<style>
    #related_sites a:hover, #support a:hover {
        background-color: #f26522;
        background-image: none;
        color: #eee;
    }
</style>

<script>
    $('a[name=menu_link]').hover(
          function(){ $(this).parent().addClass('active') },
          function () { $(this).parent().removeClass('active') }
     )
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/logo.svg" height="45" alt="opentrack logo" />
                <span class="visible-xs hidden-sm visible-md visible-lg">OPEN<span style="color:#f26522">TRACK</span></span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a name="menu_link" href="/news/">News</a></li>
                <li>
                    <a name="menu_link" href="/products/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="products">
                        <li><a name="menu_link" href="/products/index">Our Products</a></li>
                        <li><a name="menu_link" href="/products/entries">Entries</a></li>
                        <li><a name="menu_link" href="/products/compmanagement">Competition Management</a></li>
                        <li><a name="menu_link" href="/products/results">Results</a></li>
                        <li><a name="menu_link" href="/products/recording">Recording</a></li>
                        <li><a name="menu_link" href="/products/organisations">National Federations</a></li>
                    </ul>
                </li>
                <li>
                    <a name="menu_link" href="/open_systems/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Open Systems <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="open_systems">
                        <li><a name="menu_link" href="/open_systems/">About Open Systems</a></li>
                        <li><a name="menu_link" href="/open_systems/data">Data</a></li>
                        <li><a name="menu_link" href="/open_systems/source">Source</a></li>
                        <li><a name="menu_link" href="/open_systems/standards">Standards</a></li>
                    </ul>
                </li>

                <li>
                    <a name="menu_link" href="/related_sites/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Related sites <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="related_sites">
                        <li><a name="menu_link" href="http://Data.opentrack.run">OpenTrack Data</a></li>
                        <li><a name="menu_link" href="http://Entries.opentrack.run">OpenTrack Entries</a></li>
                        <li><a name="menu_link" href="http://Estonia.opentrack.run">Estonia</a></li>
                        <li><a name="menu_link" href="http://Surreyleague.org">Surrey League</a></li>
                        <li><a name="menu_link" href="http://Bmaf.opentrack.run">British Masters</a></li>
                    </ul>
                </li>

                <li>
                    <a name="menu_link" href="/suppport/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="support">
                        <li><a name="menu_link" href="/contact/">Contact</a></li>
                        <li><a name="menu_link" href="/support/">Support</a></li>
                        <li><a name="menu_link" href="/support/faq/">FAQ</a></li>
                        <li><a name="menu_link" href="/support/manuals/">Manuals</a></li>
                        <li><a name="menu_link" href="/support/privacy/">Privacy policy</a></li>
                        <li><a name="menu_link" href="/support/about/">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
