@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

@import "aos/dist/aos.css";
@import "devices";

.container-fluid {
  max-width: map-get($grid-breakpoints, xl)-108px;
  padding-left:1rem;
  padding-right:1rem;
}
.navbar {
  @extend .navbar-light;
  .navbar-brand {
    transition: transform ease 0.3s;
  }
  @include media-breakpoint-up(xl) {
    .navbar-brand {
      //margin-left: -64px;
      transform: translateX(-54px);
    }
  }
  	  .menu-icon path {
      fill:$track-black;
    }

}
.nav-item.active {
	.octicon {
      fill: $navbar-light-active-color;
      }
}
.nav-link {
	&:hover, &:focus {
	.octicon {
      fill: $navbar-light-active-color;
      }
    }

	.octicon {
		display: inline;
		margin-left:0.5rem;
		fill: $navbar-light-color;
		margin-bottom: -2px;
	}
}
.navbar-nav {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.047rem;
  font-size: 1rem;

}/*

#OpentrackNavbar .navbar-nav {
	@extend .container-fluid;
}
*/
.ot-navbar {
  border-bottom: 0.3125rem solid $gray-100;
  margin-bottom: 1rem;
}
.mast-wrap {
  background-color: $track-red;
  background-image: url('/assets/img/track-header.svg'); /* fallback */
  background-image: url('/assets/img/track-header.svg'), linear-gradient(#c63a2c, #c6372a); /* W3C */
  background-size: 2680px 528px, cover;
  color: $white;
  //background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  @include media-breakpoint-up(md) {
    .ot-demo {
      margin-bottom: -64px;
    }
    margin-bottom: 64px;
  }

  .ot-navbar {
    border-bottom: none;
    margin-bottom: 1.3125rem;
  }
  .navbar {
    @extend .navbar-dark;
  }


	.nav-item.active {
		.octicon {
	      fill: $navbar-dark-active-color;
	      }
	}
	.nav-link {
		&:hover, &:focus {
		.octicon {
	      fill: $navbar-dark-active-color;
	      }
	    }

		.octicon {
			fill: $navbar-dark-color;
		}
	}

}

.ot-footer {
  background-color: $gray-600;
  color: $white;
  padding: 54px 0;
  //margin-top: 64px;
  .text-muted {
    color: $gray-300 !important;
    color: rgba($white, 0.5) !important;
    h6 {
      color: $white;
    }
  }
  .btn {
    white-space:normal;
  }
  a {
    color: rgba($white,0.9);
    &:hover {
      color: $white;
    }
  }
  h4 {
      font-size: 1.25rem;
  }
  @include media-breakpoint-up(sm) {
    h4 {
      font-size: 1rem;
    }
  }
}
.footer-navigation {
  @extend .list-unstyled;
  font-size: 1.125rem; //14px
  letter-spacing: 0.033rem;
  line-height: 1.1;
  li {
    padding: 0.2rem 0;
    a {
      padding: 0.2rem 0;
      display: block;
    }
  }


  @include media-breakpoint-up(sm) {

    font-size: 0.875rem; //14px
    letter-spacing: 0.025rem;
    li {
      padding: 0.175rem 0;
      a {
        padding: 0;
        display: inline;
      }
    }
  }
}
.opentrack-backers .backer {
  margin-bottom:32px;
  margin-top: 16px;
  //text-align: center;
}

.housekeeping {
  margin-top: 32px;
  font-size:13px;
}
h4,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
h6 {
  font-weight: 500;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  //line-height: 1.2;
  border: $btn-border-width solid $track-black;
  font-size: 0.875rem;
  &:hover {
    border: $btn-border-width+2 solid $black;
    margin: -2px;
  }
}

button.navbar-toggler:focus {
    outline: 1px dotted rgba($track-black,0.1);
    .mast-wrap & {
    outline: 1px dotted rgba($white,0.1);

    }
}

.navbar-toggler {

  border: none;
  .burger-bar {
    transition: transform 0.2s, opacity 0.2s;
    & + .burger-bar {
      margin-top: 0.625rem;
      }
  	}
  	&[aria-expanded=true] {
  .burger-bar {
    transform-origin: center center;
    //background-color: #000;
    &:nth-child(1) {
      transform: translate(0, 0.9375rem) rotate(45deg);
    }
    &:nth-child(3) {
      transform: translate(0, -0.9375rem) rotate(-45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    }
  }
}
.burger-icon {
    float: left;
    width: 2.875rem;
    height: 2.1875rem;
    &:before {
      background: transparent;
      width: 2.875rem;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute;
    }
}
.burger-bar {
    display: block;
    width: 2.875rem;
    height: 0.3125rem;
    border-radius: 1px;
    //box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    background-color: $track-black;
    background-color: rgba($track-black,0.9);
}
article.post, 
article.product section {
	// max-width: 820px; //(9 cols)
	max-width: 728px; // (8 cols)

	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
	margin-bottom: 48px;
}
article.product {
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.mast-wrap .burger-bar {
  background-color: $white;
   background-color: rgba($white,0.9);
}
.navbar-collapse {
  background-color: $gray-600;
  background-color: rgba($gray-600,0.95);
  padding: 0.8rem 1rem;
  .navbar-nav {
    font-size: 1.25rem
  }
}
.bg-gray-100 {
  background-color: $gray-100;
}
.bg-blue {
  background-color: $blue;
  color: $white;
}
.row-eq-height .card {
  height:100%;

}

@include media-breakpoint-up(md) {
  .card.mh {
    height:100%;

  }
}
.icon-flow {
  width:60px;
  text-align: center;
}
.card {
  box-shadow: 0 0 .375em $gray-100;
  box-shadow: 0 0 .375em rgba($track-black,0.1);
}
svg.mid-right {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-1rem);
    right:-1rem;
    path {
      fill: $gray-500;
    }
  }
}

.sepia-pics {
  img {
    display: block;
  }
}
.has-blendmode .sepia-pics {
	background-color: $blue;
  > div:after {
    content: ' ';
    width: 100%;
    height:100%;
    background-color: #290C09;
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
    mix-blend-mode:color;
  }
}
.tinted {
  background-color: $tint;
}
.red-bar {
/*
  border-bottom: 4px solid $track-red;
  &.col-md-4 {
    border-top: 4px solid $track-red;
    border-bottom: none;
  }
*/
  @include media-breakpoint-up(md) {
    //border-bottom: none;
    border-right: 4px solid $track-red;
    &.order-md-last {
      border-right: 0;
      border-left: 4px solid $track-red;
    }
/*
    &.col-md-4 {
      border-top: none;
    }
*/
  }
}
.lead.mx-auto {
  max-width: 31rem; // 496px;
}

.icon-story {
  min-height: 129px;
  max-width: 208px;
	margin-left: auto;
	margin-right: auto;
  .feature-icon {
    @extend .mt-2;
    height:74px;
    position: relative;

    img {
      position: relative;
      display: block;
      top:50%;
      transform: translateY(-50%);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .d-inline-block {
    @extend .px-1;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
	}
}
blockquote {
  h3 {
    font-size:2.25rem;
    font-weight: 200;
    text-transform: none;
    text-indent: -0.75rem;
    strong {
      font-weight: 500;
    }
  }
  .blockquote_footer {
    font-size: 1.125rem;
    font-style: italic;
    color: rgba($white, 0.7);
    font-weight: 200;
    margin-top:0.75rem;
  }
}
.callout {
  h2, h3 {
    font-weight: 200;
    text-transform: none;
    
  }
  h2 {
    color: $track-red;
    font-size: 2.25rem;
    strong {
      font-weight: 500;
      font-style: italic;
    }
  }
  h3 {
    font-size: 1.875rem;
    letter-spacing: 0;
    small {
      font-weight: 300;
      white-space: nowrap;
    }
  }
  .col-auto {
    margin-bottom: 1rem;
  }
}
@keyframes slideInFromRight {
    0% {
        transform: rotate(0) translateX(500%);
		//opacity :0;
    }
    100% {
        transform: rotate(2deg) translateX(0);
		//opacity:1;
    }
}
.ot-demo {
	perspective: 40px;
}
.phone-demo {

	width:225px;
	box-shadow: 0 8px 16px rgba($black, 0.66);
	border-radius: 32px;
	@extend .mx-auto;
	position: relative;
	//transition: transform ease 1s, opacity ease 1s;
	margin-top:-24px;
	transform: rotate(2deg) translateX(0);
	transition: transform 0.5s;
	backface-visibility: visible;
	img.screen {
		position: absolute;
		top:58px;
		left:15px;
	}
	&.loaded {
		//transform: rotate(5deg) translateX(0);

		//animation-duration: 1s; /* the duration of the animation */
		//animation-timing-function: ease-out; /* how the animation will behave */
		//animation-delay: 0s; /* how long to delay the animation from starting */
		//animation-iteration-count: 1; /* how many times the animation will play */
		//animation-name: slideInFromRight; /* the name of the animation we defined above */

	}
}
.tablet-demo {

	width:516px;
	margin: 0;
	//box-shadow: 0 0 8px rgba($black, 0.66);
	border-radius: 24px;
	//@extend .mx-auto;
	position: relative;
	//transition: transform ease 1s, opacity ease 1s;
/*
	margin-top:-24px;
	transform: rotate(2deg) translateX(0);
	transition: transform 0.5s;
*/
	backface-visibility: visible;
	img.screen {
		position: absolute;
		top:22px;
		left:48px;
		z-index: 20;
	}
	svg {
		z-index: 10;
	}
}
main#content.bleed { 
	overflow: hidden;
	
	h2 { // section titles
		margin: 4rem 0 3rem;
		//padding-left: 3.5rem;
		position: relative;
		strong {
			display: block;
			position: absolute;
			left:-4rem;
			top:-6px;
			color: $track-red;
			background-color: $tint;
			border-radius: 50%;
			width:3rem;
			height: 3rem;
			padding: 0.333rem 0;
			text-align: center;
			margin-right: 0.5rem;
			
		}
	}
	
	h3 {
		margin: 4rem 0 1rem;
		span {
			box-shadow: inset 0 -3px 0 white, inset 0 -5px 0 $track-red;
		}
		
		
	}
	.tinted {
		h2 strong {
			background-color: $white;
		}
		h3 span {
			box-shadow: inset 0 -3px 0 $tint, inset 0 -5px 0 $track-red;
		}
	}
	h4 {
		margin-top:2rem;
	}
}
a.player{
	display: block;
	color: $track-black;
	.team-image-box {
		border-radius: 50%;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 100%;
		position: relative;
		background-color: $soft-blue;
		.image-wrapper {
			position: absolute;
			top:0;
			transition: top ease-in-out 0.2s;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	.team-member-name {
		span {
			display: inline-block; 
			vertical-align: middle;
		}
		svg {
			display: inline-block; 
			vertical-align: middle;
			position: relative;
			//bottom: -1px;
			fill:$track-red;
			transform: translateX(0);
			transition: opacity 0.4s ease, transform 0.4s ease;
			opacity: 0;
		}
	}
	&:hover {
		//color: $track-red;
		//text-decoration: underline;
		.team-image-box .image-wrapper {
			top:-100%;
		}
		.team-member-name {
			span {
				//border-bottom: 1px solid $track-red;
				//color: $track-black;
				box-shadow: inset 0 -1px 0 white, inset 0 -3px 0 $track-red;
			}
			svg {
				transform: translateX(16px);
				opacity: 1;
				
			}
		}
	}
	&:focus {
		outline: none;
	}
}

.ot-title {
	@extend .mx-auto;
	text-align: center;
	text-transform: uppercase;
	max-width: 720px;
	line-height: 1.2;
	margin-bottom: 2.5rem;
	span {
		//border-bottom: 4px solid $track-red;
		//display: inline-block;
		box-shadow: inset 0 -6px 0 white, inset 0 -10px 0 $track-red;
	}
}
.ot-lead {
	@extend .lead;
	@extend .mx-auto;
	text-align: center;
	max-width: 720px;
	font-size: 1.3125rem;
}

.modal-content {
	color: $white;
	color: rgba($white,0.8);
}
.modal-header {

  .close {
    padding: 1rem;
    // auto on the left force icon to the right even when there is no .modal-title
    margin: -1rem -1rem -1rem auto;
    color: $white;
    font-size: 2.5rem;
	font-weight: 300;
	line-height: 2rem;
  }
}
// Footer (for actions)
.modal-footer {
  padding: $modal-header-padding;
  justify-content: center;
}
.team-tabs {
	&.player-pic {
		position: absolute;
		left: 0;
		right: 0;
		top: 218px;

	}
	.nav-link {
		min-width: 120px;
		text-align: center;
		&:hover {
			color: $white;
		}
	}
}
.team-content img {
	margin-bottom:6rem;
}
h3.team-member-name {
	font-size: 1rem;
}
@include media-breakpoint-up(md) {
//@include media-breakpoint-only(md) {
	.ot-team .col-6.col-sm-4.col-lg-2 {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
p.lead a {
  font-weight: 500;
  transition: color 0.4s ease;
  svg {
		display: inline-block;
		vertical-align: middle;
		fill:$track-red;
		position: relative;
		bottom: 1px;
		transform: translateX(0);
		transition: transform 0.4s ease;
	}
	&:hover {
		svg {
			transform: translateX(8px);
		}
	}
}

a.block-link {
	display: block;
	color: $track-black;
	.link-text {
		color: $track-red;
		font-weight: 500;
		transition: color 0.4s ease;
		svg {
			display: inline-block;
			vertical-align: middle;
			fill:$track-red;
			position: relative;
			bottom: 1px;
			transform: translateX(0);
			transition: transform 0.4s ease;
		}
	}
	h3 span {
		box-shadow: inset 0 -3px 0 white, inset 0 -5px 0 white;
		transition: box-shadow 0.4s ease;
		.tinted & {
			box-shadow: inset 0 -3px 0 $tint, inset 0 -5px 0 $tint;
		}
	}
	&:hover {
		color: $track-black;
		.link-text {
			color: $track-black;
			svg {
				transform: translateX(8px);
			}
		}
		h3 span {
			//border-bottom: 1px solid $track-red;
			//color: $track-black;
			box-shadow: inset 0 -3px 0 white, inset 0 -5px 0 $track-red;
			.tinted & {
				box-shadow: inset 0 -3px 0 $tint, inset 0 -5px 0 $track-red;
			}
		}
	}
}